header{
    background-color: rgb(0, 102, 255);
}

.searchlabel{
    width: 100px;
    justify-content: start;
}

#search-button{
    background-color: #eee !important;
}

.input-group-append{
    display: block;
}